<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>Login</title>
</head>
<body>
<% console.log("tss") %>
    <nav>
        <h1><a href="/">Members Only</a></h1>
        <div>
            <% if (typeof(currentUser) == "undefined") { %>
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
            <% } else { %>
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
            <% } %> 
        </div>
    </nav>
    <main>
        <form action="" method="post">
            <input placeholder="Email Address" type="email" name="email" id="email" required>
            <input placeholder="Password" type="password" name="password" id="password" required>
            <button type="submit">Log In</button>
        </form>
    </main>
    <% if (typeof(errors) != "undefined") { %>
        <p><%= errors[0]%></p>
        <% console.log(errors) %>
    <% } %>
</body>
</html>
