<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>New Post</title>
</head>
<body>
    <nav>
        <a href="/"><h1>Members Only</h1></a>
        <div>
          <a href="/register">Register</a>
          <a href="/login">Log In</a>
          <a href="/profile">Profile</a>
          <a href="/logout">Log Out</a>
        </div>
    </nav>
    <main>
        <form action="" method="post">
            <input placeholder="Title" type="text" name="title" id="title" required>
            <input placeholder="Text" type="text" name="text" id="text" required>
            <button type="submit">Submit post</button>
        </form>
    </main>
</body>
</html>