<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>New Post</title>
</head>
<body>
    <nav>
        <h1><a href="/">Members Only</a></h1>
        <div>
            <% if (typeof(currentUser) == "undefined") { %>
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
            <% } else { %>
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
            <% } %> 
        </div>
    </nav>
    <main>
        <form action="" method="post">
            <input placeholder="Title" type="text" name="title" id="title" required>
            <textarea placeholder="Text" required name="text" id="text" cols="30" rows="10"></textarea>
            <button type="submit">Submit post</button>
        </form>
    </main>
</body>
</html>