<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Profile</title>
</head>
<body>
    <nav>
        <h1><a href="/">Members Only</a></h1>
        <div>
            <% if (typeof(currentUser) == "undefined") { %>
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
            <% } else { %>
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
            <% } %> 
        </div>
    </nav>
    <main>
        <% typeof(error) != "undefined" ? console.log(error) : console.log("no errors") %>
        <h1>Profile</h1>
        <div class="status-columns">
            <section class="membership">
                <h2>Membership Status</h2>
                <% if (!currentUser.membership) { %>
                    <h3>Become a Member:</h3> 
                    <form action="" method="post">
                        <label for="membership-code">Membership Code</label>
                        <input placeholder="Membership Code" type="text" name="membership_code" id="membership_code" required>
                        <button type="submit">Submit</button>
                    </form>
                    <% if (typeof(error) != "undefined" && error === "membership") { %>
                        <p class="error-msg"><span>Incorrect membership code!</span> Hint: the code is NGGYUNGLYDNGRAADU</p>
                    <% } %>
                <% } else { %>
                    <p>You are a Member! Congratulations!</p>
                <% } %> 
            </section>
            <section class="admin">
                <h2>Admin Status</h2>
                <% if (!currentUser.isAdmin) { %>
                    <h3>Admin login:</h3> 
                    <form action="" method="post">
                        <label for="admin_code">Admin Password</label>
                        <input placeholder="Admin Password" type="text" name="admin_code" id="admin_code" required>
                        <button type="submit" formaction="/admin">Submit</button>
                    </form>
                    <% if (typeof(error) != "undefined" && error === "admin") { %>
                        <p class="error-msg"><span>Incorrect admin code!</span> Hint: the code is GiveMeAdmin</p>
                    <% } %>
                <% } else { %>
                    <p>You are an admin.</p>
                <% } %>
            </section>
        </div>
    </main>
</body>
</html>