<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Register</title>
</head>
<body>
    <nav>
        <a href="/"><h1>Members Only</h1></a>
        <div>
            <% if (typeof(currentUser) == "undefined") { %>
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
            <% } else { %>
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
            <% } %> 
        </div>
    </nav>
    <main>
        <form action="" method="post">
            <input placeholder="Name" type="text" name="name" id="name" required>
            <input placeholder="Surname" type="text" name="surname" id="surname" required>
            <input placeholder="Email Address" type="email" name="email" id="email" required>
            <input placeholder="Password" type="password" name="password" id="password" required>
            <input placeholder="Confirm Password" type="password" name="password-confirm" id="password-confirm" required>
            <button type="submit">Register</button>
        </form>
    </main>
</body>
</html>