.hero {
    display: flex;
    flex-direction: column;
}

.hero h1 {
    text-align: center;
}

.hero div {
    align-self: flex-end;
}

.posts {
    display: flex;
    flex-direction: column;
    background-color: #2F97C1;
    gap: 1rem;
}

.posts div {
    align-self: center;
    background-color: #4f518c;
    color: white;
    border-radius: 2rem;
    width: 50%;
}

.posts div h4, .posts div h5 {
    text-align: center;
}

.posts div p {
    margin-left: 1rem;
    margin-right: 1rem;
    word-wrap: normal;
}