body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4D7C0F;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  position: sticky;
  top: 0;
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84CC16;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

nav div {
  display: flex;
  gap: 2rem;
}

nav.stretch {
  width: 100vw;
  box-sizing: border-box;
}

input[type="email"], input[type="password"] {
  border: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
} 